/* commented. */

/* 
This .css file consists of stylings from the checklist folder
*/

.checkImage{
    display: block;
    width: 500px ;
    height: 200px; 
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
    }